# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env/
venv/
.venv/
env/

# Mac OS system files
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Large datasets or models (if you don’t want to push them)
/data/
/models/

# IDE settings
.idea/
.vscode/

asl_alphabet_train/


